<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>250027094008-hrdkhtme19l8qtmm9ol6eesj864i6493.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.250027094008-hrdkhtme19l8qtmm9ol6eesj864i6493</string>
	<key>API_KEY</key>
	<string>AIzaSyCAq1EKjULhVZNmGBkB6kKhk1LbjLTQawo</string>
	<key>GCM_SENDER_ID</key>
	<string>250027094008</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Stevens.edu.NomadParty-Login</string>
	<key>PROJECT_ID</key>
	<string>nomadpartylogin</string>
	<key>STORAGE_BUCKET</key>
	<string>nomadpartylogin.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:250027094008:ios:74959bde8fbd962c02b00d</string>
	<key>DATABASE_URL</key>
	<string>https://nomadpartylogin.firebaseio.com</string>
</dict>
</plist>